<script>
  addAnswer = button => {
    const container = $(button).parent().parent()
    
    const question = container.attr('id')
    const number = parseInt(container.attr('data-answer-number')) + 1

    container.attr('data-answer-number', number)

    $(button).before(`
      <div id="${question}-newAnswer-${number}" class="answers">
        <li class="answer"><input class="answer" type="text" name="${question}-newAnswer-${number}" placeholder="Answer" required></li>
        <div class="correct">
          <input id="${question}-correct-answer-${number}" type="radio" name="${question}-correct-answer" value="${question}-newAnswer-${number}" required>
          <label for="${question}-correct-answer-${number}">Correct</label>
        </div>
        <button class="delete" type="button" data-container="${question}-newAnswer-${number}" onclick="deleteContainer(this)">Delete this answer</button>
      </div>
    `)
  }

  addQuestion = button => {
    const container = $(button).parent().parent()
    const number = parseInt(container.attr('data-question-number')) + 1

    container.attr('data-question-number', number)

    $(button).before(`
      <div id="newQuestion-${number}" class="questions" data-answer-number="2" >
        <li class="question"><input class="question" type="text" name="newQuestion-${number}" placeholder="Question" required></li>
        <ol type="A">

        <div id="newQuestion-${number}-newAnswer-1" class="answers">
          <li class="answer" ><input class="answer" type="text" name="newQuestion-${number}-newAnswer-1" placeholder="Answer" required></li>
          <div class="correct">
            <input id="newQuestion-${number}-correct-answer-1" type="radio" name="newQuestion-${number}-correct-answer" value="newQuestion-${number}-newAnswer-1" required>
            <label for="newQuestion-${number}-correct-answer-1">Correct</label>
          </div>
          <button class="delete" type="button" data-container="newQuestion-${number}-newAnswer-1" onclick="deleteContainer(this)">Delete this answer</button>
        </div>

        <div id="newQuestion-${number}-newAnswer-2" class="answers">
          <li class="answer" ><input class="answer" type="text" name="newQuestion-${number}-newAnswer-2" placeholder="Answer" required></li>
          <div class="correct">
            <input id="newQuestion-${number}-correct-answer-2" type="radio" name="newQuestion-${number}-correct-answer" value="newQuestion-${number}-newAnswer-2" required>
            <label for="newQuestion-${number}-correct-answer-2">Correct</label>
          </div>
          <button class="delete" type="button" data-container="newQuestion-${number}-newAnswer-2" onclick="deleteContainer(this)">Delete this answer</button>
        </div>

        <button class="add" type="button"onclick="addAnswer(this)">Add another answer</button>
        </ol>
        <span class="dash">- - - - - - - - - - - - - - -</span>
        <button class="delete" type="button" data-container="newQuestion-${number}" onclick="deleteContainer(this)">Delete this question</button>
      </div>
    `)
  }
</script>
