<nav>
  <% if (page === 'list' && permission === 'edit') { %>
    <a href="/add">Add</a>
  <% } %>
  <% if (page === 'quiz') { %>
    <a href="/list">Back</a>
  <% } %>
  <% if (page === 'add') { %>
    <a href="/list">Cancel</a>
  <% } %>
  <% if (page === 'edit') { %>
    <a href="/quiz-<%= quiz.id %>"">Cancel</a>
  <% } %>
  <% if (page === 'quiz' && permission === 'edit') { %>
    <span>&nbsp;</span>
    <a href="/edit-<%= quiz.id %>">Edit</a>
  <% } %>
  <a id="log-out" href="/log-out">Log Out</a>
</nav>
