<nav>
  <% if (page === 'list' && permission === 'edit') { %>
    <a href="/add">Add</a>
  <% } %>
  <% if (page !== 'list') { %>
    <a href="/list">Back</a>
  <% } %>
  <% if (page === 'quiz' && permission === 'edit') { %>
    <span>&nbsp;</span>
    <a href="/edit-<%= quiz.id %>">Edit</a>
  <% } %>
  <a class="log-out" href="/log-out">Log Out</a>
</nav>
