<%- include('_head', { title: 'Log In' }) %>

<%- include('_branding') %>

<h2 id="sub-header">Log In</h2>

<form action="/log-in" method="POST">
  <input id="username" type="text" name="username" placeholder="Username" required>
  <input id="password" type="password" name="password" placeholder="Password" required>
  <button id="post" type="submit">Submit</button>
</form>

<% if (flash && flash.message) { %>
  <div id="flash"><%= flash.message %></div>
<% } %>
