<%- include('_head', { title: 'Blue Book - List' }) %>

<%- include('_nav', { page: 'list'}) %>

<h1 class="main-header">Blue Book</h1>

<% quizes.forEach(quiz => { %>

  <a href="/quiz-<%= quiz.id %>"><%= quiz.name %></a><br>

<% }) %>
