@font-face {
  font-family: 'meatloaf_sketched';
  src: url('fonts/meatloaf_sketched.ttf') format('truetype');
}

@font-face {
  font-family: 'meatloaf_outline';
  src: url('fonts/meatloaf_outline.ttf') format('truetype');
}

body {
  background-color: #333333;
  cursor: default;
  font-family: 'meatloaf_sketched';
  color: #eeeeee;
}

#main-header {
  display: inline;
  margin: 0;
  font-size: 120px;
  font-weight: 100;
}

#logo {
  border-radius: 100%;
  height: 60px;
  padding-left: 20px;
}

#sub-header {
  margin: 0;
  font-size: 100px;
  font-weight: 100;
}

form {
  margin: 0;
}

input[type=text],
input[type=password] {
  outline: none;
  border: none;
  width: 100%;
  background: none;
  font-family: 'meatloaf_sketched';
  color: #eeeeee;
}

#username, #password {
  display: block;
  font-size: 60px;
}

button {
  outline: none;
  border: none;
  padding: 1px;
  background: none;
  cursor: pointer;
  font-size: 40px;
  font-family: 'meatloaf_outline';
  color: #777777;
}

button:hover {
  font-family: 'meatloaf_sketched';
  color: #eeeeee;
}

#submit {
  display: block;
  font-size: 80px;
  font-family: 'meatloaf_sketched';
}

.flash {
  margin-top: 10px;
  font-size: 60px;
  color: #ff0066;
}

a {
  cursor: pointer;
  font-size: 60px ;
  text-decoration: none;
  color: #eeeeee;
}

a:hover {
  color: #777777;
}

.log-out {
  float: right;
}

.questions {
  display: inline;
}

.question {
  font-size: 60px;
}

input[type="radio"] {
  margin-top: -3px;
  vertical-align: middle;
}

input[type="radio"]:checked+label {
  color: #00ff88;
}

label {
  cursor: pointer;
  color: #777777;
}

label:hover {
  color: #eeeeee;
}

.answers {
  display: inline;
}

.answer {
  font-size: 40px;
}

.amber {
  color: #ffbb00;
}

.correct {
  font-size: 40px;
}

.delete:hover {
  color: #ff0066;
}

.dash {
  display: block;
  font-size: 50px;
  line-height: 10px;
}