/* #region #logo */

#logo {
  border-radius: 100%;
  height: 60px;
  padding-left: 20px;
}

/* #endregion */
/* #region color properties */

a,
body,
input[type=text],
input[type=password],
button:hover,
label:hover {
  color: #eeeeee;
}

button,
label,
a:hover {
  color: #777777;
}

input[type=text],
input[type=password] {
  outline-color: #eeeeee;
}

.delete:hover,
#flash {
  color: #ff0066;
}

body {
  background-color: #333333;
}

input[type=radio]:checked + label {
  color: #00ff88;
}

.amber {
  color: #ffbb00;
}

/* #endregion */
/* #region font properties */

@font-face {
  font-family: 'meatloaf_sketched';
  src: url('fonts/meatloaf_sketched.ttf') format('truetype');
}

@font-face {
  font-family: 'meatloaf_outline';
  src: url('fonts/meatloaf_outline.ttf') format('truetype');
}

body,
input[type=text],
input[type=password],
button:hover,
#post {
  font-family: 'meatloaf_sketched';
}

a,
.question,
#flash,
#password,
#username {
  font-size: 60px;
}

button,
.answer,
.correct,
.dash {
  font-size: 40px;
}

button {
  font-family: 'meatloaf_outline';
}

#main-header {
  font-size: 120px;
  font-weight: 100;
}

#post {
  font-size: 80px;
}

#sub-header {
  font-size: 100px;
  font-weight: 100;
}

/* #endregion */
/* #region remaining style properties */

a,
button,
label {
  cursor: pointer;
}

button,
input[type=text],
input[type=password] {
  border: none;
  background: none;
}

a {
  text-decoration: none;
}

body {
  cursor: default;
}

button {
  outline: none;
}

/* #endregion */
/* #region positioning properties */

.dash, 
#password, 
#post,
#username {
  display: block;
}

form,
#main-header,
#sub-header {
  margin: 0;
}

.answers,
.questions,
#main-header {
  display: inline;
}

input[type=text],
input[type=password] {
  width: 100%;
}

button {
  padding: 1px;
}

input[type="radio"] {
  margin-top: -1px;
  vertical-align: middle;
}

ol[type="1"] {
  padding-left: 50px;
}

ol[type="A"] {
  padding-left: 0;
}

ol[type="A"] > div > div {
  position: relative;
  right: 22px;
}

.dash {
  line-height: 10px;
}

#log-out {
  float: right;
}

#flash {
  margin-top: 10px;
}

/* #endregion */
